<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=1080, initial-scale=1, shrink-to-fit=no">
  <title>唐鳳都在這 PWA</title>

  <!-- TODO add manifest here -->
  <link rel="manifest" href="manifest.json">
  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="唐鳳都在這PWA">
  <link rel="apple-touch-icon" href="images/icons/icon-144x144.png">
  <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">


  <!-- <meta http-equiv="refresh" content="10"> -->

  <script src="https://code.jquery.com/jquery-1.12.4.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!--bootstrap-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">



  <link rel="stylesheet" href="stylesheets/style.css">


</head>

<body>


  <main class="main">

    <div role="main">
      <div class="container" style="padding:10px;">
        <div class="row" style="padding-top:10px;">
          <div class="col-12" style="text-align:center;">


            <div class="row">
              <div class="col-12" style="text-align:center;">
                <a title="顯示地圖" target="_blank" href="https://www.google.com/maps/place/%E7%A4%BE%E6%9C%83%E5%89%B5%E6%96%B0%E5%AF%A6%E9%A9%97%E4%B8%AD%E5%BF%83/@25.0389127,121.5411135,18z/data=!4m15!1m9!2m8!1z6aOv5bqX!3m6!1z6aOv5bqX!2s25.039406399999997,+121.53986929999999!3s0x3442abd6f627f72d:0x16aa317708e699c5!4m2!1d121.5398693!2d25.0394064!3m4!1s0x3442a983817f600d:0xa055f2f16c67c77d!8m2!3d25.0386229!4d121.5409823?hl=zh-TW">
                  <div class="hbanner">
                    每周三 唐鳳都在社創中心 </div>
                </a>
                <div class="headerlogo">
                  <div class="htitle">
                    為了方便拜會作業進行，唐鳳office hour調整如下：
                  </div>
                  <div class="hcontent">
                    10:00-14:00 自由前來，無需預約
                    <br> 14:00-17:00 預約保留時段（預約系統將於近期上線）
                  </div>
                  <div class="hfooter"> （實際情況以現場為準，敬請見諒） </div>
                </div>



              </div>
              <hr />

              <div id="calender" class="row">
                <div v-for="calender in calenders" class="col-sm-6 col-lg-3 col-12 left" style="padding: 0px;">
                  <div v-bind:class="calender.cls">
                    <div class="calenderContent">
                      <div class="calenderTitle" v-html="calender.title"></div>
                      <div class="calenderDate" v-html="calender.date"></div>
                      <div v-bind:class="calender.clsSubtitle" v-html="calender.subtitle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div id="updateDT" style="float:right;">
                <div v-html="updateDT">
                </div>
                ※此行事曆每小時更新，實際情形以現場為準
              </div>
            </div>





          </div>


        </div>


      </div>
      {% include carousel.html %}
      <hr>



  </main>


  <script src="scripts/main.js" async></script>
  <!-- Uncomment the line below when ready to test with fake data -->
  <script src="scripts/app.js" async></script>



</body>

</html>